<div id="sect1">
    <div class="backGround">
    </div>
    <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="header">
            <a class="navbar-brand" href="#">Task Manager</a>
        </div>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button routerLink="register" class="m1 btn btn-outline-primary">
                        Register
                    </button>
                </li>
                <li class="nav-item">
                    <button routerLink="login" class="m1 btn btn-outline-primary">
                        Login
                    </button>
                </li>

                <li class="nav-item">
                    <button (click)="proceedLogout()" class="m1 btn btn-outline-primary">
                        Log out
                    </button>
                </li>
                <li class="nav-item">
                    <button routerLink="quote" class="m1 btn btn-outline-primary">
                        Quotes
                    </button>
                </li>
            </ul>
        </div>
    </nav> -->

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- </ul>
            </div>


            <div *ngif="!isLogged">
                <ul class="navbar-nav"> -->



<!-- <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6 text-center mb-5">
                                <h2 class="heading-section">Task Manager</h2>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-lg-4">
                                <div class="login-wrap p-0">
                                    <h3 class="mb-4 text-center">Login</h3>
                    
                                    <form action="#" class="signin-form" [formGroup]="loginForm" (ngSubmit)="SubmitForm()">
                                        <div class="form-group formControlClass">
                                            <input type="text" class="form-control" formControlName="username" placeholder="Username" required>
                                            <span class="errorClass" *ngIf="username.invalid && (username.dirty || username.touched)">
                                                *Required</span>
                                        </div>
                                        <div class="form-group formControlClass">
                                            <div>
                                                <input #inputToggle id="password-field" type="password" formControlName="password" class="form-control" placeholder="Password" ?>
                                                <span toggle="#password-field">
                                                <i (click)="visibility" class='material-icons'>{{ visib ? 'visibility': 'visibility_off'}}</i>
                                            </span>
                                            </div>
                                            <span class="errorClass" *ngIf="password.invalid && (password.dirty || password.touched)">
                                                *Required</span>
                                        </div>
                                        <br>
                    
                                        <div class="form-group formControlClass">
                                            <div>
                                                <button mat-button cdkFocusInitial type="submit" class="form-control btn btn-primary submit px-3">Login In</button>
                                                <button mat-button mat-dialog-close (click)="CancelForm()" class="form-control btn btn-primary submit px-1">Cancel</button>
                                            </div>
                                        </div>
                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> -->